BODY {
  background-color: #3f2413;
  margin: 0px;
}

.bodyText {font-family:Arial, Helvetica, Sans-Serif; font-size:10pt; font-weight: normal; color:#FFFFFF; text-align:justify;}
.bodyText A:link {font-family:Arial, Helvetica, Sans-Serif; font-size:10pt; font-weight: normal; color:#9ad5f4}
.bodyText A:active {font-family:Arial, Helvetica, Sans-Serif; font-size:10pt; font-weight: normal; color:#9ad5f4}
.bodyText A:visited {font-family:Arial, Helvetica, Sans-Serif; font-size:10pt; font-weight: normal; color:#9ad5f4}
.bodyText A:hover {font-family:Arial, Helvetica, Sans-Serif; font-size:10pt; font-weight: normal; color:#ffe292}

 ul
{
list-style-type: none;
padding-top: 0;
padding-left: 20;
padding-right: 0;
padding-bottom: 0;
margin: 0;
}

li
{
background-image: url(images/imgBullet.gif);
background-repeat: no-repeat;
background-position: 0 .4em;
padding-left: .9em;
line-height: 1.5;
}